<%- include('partials/header2') -%>
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/page-title/page-title.jpg">
</section>
<div class="row">
<div class="container">

    <p><strong>User Name</strong>: <%= user.userName %><i onclick="showInputs()" class="fal fa-pencil editUser"></i></p>
    <input type="text" id="userInput" hidden place="update username">
    <button type="submit" name="action" value="userName" class="e-btn" hidden id="updateBtn1">Update</button>
    <p><strong>Email</strong>: <%= user.email %><i class="fal fa-pencil editEmail"></i></p>
    <input hidden type="text" id='emailInput' place="update email">
    <button type="submit" name="action" value="email" class="e-btn" hidden id="updateBtn2">Update</button>
     <form action="/post/deleteUser/<%= user._id.toString() %>/?_method=DELETE" method="POST">
        <button type="submit"><i class="fal fa-trash"></i></button>
     </form>


</div>
</div>
<a href="/logout" class="col-3 btn btn-primary">Logout</a>
<a href="/profile" class="col-3 btn btn-primary">Go Back</a>

<%- include('partials/footer') -%>
